<div class="container hidden-print">
    <div class="container-fluid text-center">
        <div class="btn-group btn-group-lg">
            <a href = "{%url 'pricequotation:listgroup' group_name='Carwash'%}" class = "btn btn-primary" role = "button">Carwash</a>
            <a href = "{%url 'pricequotation:listgroup' group_name='Detail'%}" class = "btn btn-primary" role = "button">Detail</a>
            <a href = "{%url 'pricequotation:listgroup' group_name='Accessories'%}" class = "btn btn-primary" role = "button">Accessories</a>
        </div>
        <div class="btn-group btn-group-lg">
            <a href="{%url 'pricequotation:updateitem'%}" class = "btn btn-info" role = "button"><span class="glyphicon glyphicon-refresh"></span> Update Item</a>
        </div>
    </div>
</div>